a {
  color: #798777;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

body {
  margin: 0;
  font-size: 0.90rem;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #3C6255;
}

h1 {
  color: #798777;
  font-size: 5.625rem;
  margin: 10px auto 0 auto;
  font-family: 'Poppins';
}

h2 {
  color: #798777;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #798777;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #BDD2B6 6px;
  border-bottom: none;
  width: 4%;
  margin: 40px auto;
}

p {
  line-height: 2;
}

.divider {
  width: 20%;
}


.top-container {
  background-color: #BDD2B6;
  padding-top: 10px;
  padding: 50px;
}

.middle-container {
  padding: 25px 0;
  background-color: #F8EDE3;
}

.bottom-container {
  background-color: #BDD2B6;
  padding: 50px 0 20px;
}

.profile {
  margin-bottom: 5rem;
}

.intro {
  width: 50%;
  margin: 50px auto 50px auto;
}

.skills {
  margin-top: 3rem;
}

.skill-row {
  width: 56%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.pen-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.computer-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.me {
  width: 50%;
}

.contact-me {
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Montserrat;
  color: #798777;
  font-size: 20px;
  background: #BDD2B6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F8EDE3;
  text-decoration: none;
}

.copyright {
  color: #F8EDE3;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  text-decoration: none;
  font-size: 16px;
}
