a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

body {
  margin: 0;
  font-size: 0.90rem;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40154E;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 10px auto 0 auto;
  font-family: 'Poppins';
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 40px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 10px;
  padding: 50px;
}

.middle-container {
  padding: 25px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.profile {
  margin-bottom: 5rem;
}

.intro {
  width: 50%;
  margin: 50px auto 50px auto;
}

.skills {
  margin-top: 3rem;
}

.skill-row {
  width: 56%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.pen-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.computer-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.me {
  width: 50%;
}

.contact-me {
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  text-decoration: none;
  font-size: 16px;
}
