a {
  color: #798777;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  /* margin: 10px 20px; */
}

a:hover {
  color: #EAF6F6;
}

body {
  margin: 0;
  font-size: 0.90rem;
  text-align: center;
  font-family: "Ubuntu";
  color: #3C6255;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  color: #798777;
  font-size: 5rem;
  margin: 5px 5px 0 auto;
  font-family: 'Ubuntu';
  font-weight: bold;
}

h2 {
  color: #798777;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.1rem;
}

h3 {
  color: #798777;
  font-family: 'Ubuntu', sans-serif;
}

hr {
  border: dotted #BDD2B6 6px;
  border-bottom: none;
  width: 4%;
  margin: 10px auto;
}

p {
  line-height: 2;
}

.piece {
  margin: 10px auto auto auto;
  max-width: 100%
 
}

.piecevert img {
  margin: 10px;
  height: auto;
}

.piecehoriz img {
  margin: 10px;
  height: auto;
}

.divider {
  width: 10%;
  height: 5;
}


.top-container {
  background-color: #BDD2B6;
  padding-top: 10px;
  padding: 15px;
}

.middle-container {
  padding: 15px 0;
  background-color: #F8EDE3;
}

.bottom-container {
  background-color: #BDD2B6;
  padding: 20px 0 20px;
}

.profile {
  margin-bottom: 1.5rem;
}

.intro {
  width: 50%;
  margin: 20px auto 20px auto;
}

.skills {
  margin-top: 3rem;
}

.skill-row {
  width: 56%;
  margin: 15px auto 30px auto;
  text-align: left;
}

.pen-img {
  width: 15%;
  float: right;
  margin-right: 30px;
}

.computer-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.me {
  width: 50%;
}

.contact-me {
  margin: 40px auto 60px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Montserrat;
  color: #798777;
  font-size: 20px;
  background: #BDD2B6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F8EDE3;
  text-decoration: none;
}

.copyright {
  color: #F8EDE3;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  text-decoration: none;
  font-size: 16px;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
